body{
	font-family: Trebuchet, sans-serif;
	font-size: 14pt;
	margin: 0;
}

.hidden{
	display: none;
}

#main {
	display: none;
	margin: .5em;
	margin-bottom: 6em;
}

.helper{
	text-align: center;
}

.bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	background: aliceblue;
	width: 100%;
	text-align: center;
}

.bottom .next{
	float: right;
}

.bottom .previous{
	float: left;
}

input {
	font-size: 1em;
	border: none;
	border-bottom: 2px solid lightblue;
}

select{
	font-size: 1em;
	border: 1px solid lightblue;
}

textarea{
	width: calc(100% - .5em);
	height: 50vh;
}

h1{
	text-align: center;
	word-wrap: break-word;
}

h4 {
	margin-bottom: .5em;
}

td, th{
	text-align: center;
	border-bottom: 1px solid lightblue;
	border-right: 1px dashed lightblue;
	padding: .5em;
	cursor: pointer;
}

tr:nth-child(2n+1) td {
	background: aliceblue;
}

.row {
	margin-top: .5em;
	margin-bottom: .5em;
}

.row .button{
	word-wrap: break-word;
}

.row .button, .row .floatRight{
	max-width: calc(50% - 1em);
}

.row .label{
	padding: 1em;
	padding-left: 0;
}

.input {
	margin-bottom: .5em;
}

.input input {
	margin-top: 1em;
	width: 100%;
}

.segment{
	background-color: aliceblue;
	padding: 1em;
}

.button{
	padding: .5em;
	margin: .5em 0;
	border: 2px solid blue;
	cursor: pointer;
	background-color: white;
	display: inline-block;
}

.button.fluid{
	display: block;
}

.button:focus, .button:hover, .button:active{
	color: white;
	background-color: blue;
}

.segment .button{
	margin-top: 2em;
	margin-left: 0;
	margin-right: 0;
	max-width: unset;
}

.segment .button.category{
	margin-top: 0;
}

.button.category{
	border-color: green;
	margin-left: .5em;
}

.button.category:first-child{
	margin-left: 0;
}

.button.category:focus,
.button.category:hover,
.button.category:active,
.button.category.selected{
	color: white;
	background-color: green;
}

.button.action{
	border-color: orange;
}

.button.action:focus,.button.action:hover,.button.action:active{
	background-color: orange;
}

.floatRight{
	float: right;
}