<!DOCTYPE html>
<html lang="en-EN">
<head>
	<title>Field Data Collector</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./css/style.css" type="text/css" media="all" />
	<script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
	<div id="main">
		<div class="page" v-show="page == 'menu'">
			<h1>Field Data Collector</h1>
			<div class="action button fluid" v-on:click="page = 'newCollect'">📊 New collect</div>
			<hr/>
			<div class="row" v-for="(collect, collectidx) in collects">
				<div class="floatRight">
					<div class="icon action button" v-show="!collect.confirmDelete" v-on:click="editCollect(collectidx)">✏️</div>
					<div class="icon action button" v-show="!collect.confirmDelete" v-on:click="downloadCollect(collect)">📥</div>
					<div v-show="!collect.confirmDelete" class="icon action button" v-on:click="deleteCollect(collect)">❌</div>
					<div v-show="collect.confirmDelete">Delete?
						<div class="icon action button" v-on:click="deleteCollectConfirm(collectidx)">Yes</div>
						<div class="icon button" v-on:click="collect.confirmDelete = false">No</div>
					</div>
				</div>
				<div class="button" v-on:click="editCollect(collectidx)">
					{{collect.name}} ({{collect.model}})
				</div>
			</div>
			<div class="bottom">
				<div class="button" v-on:click="page = 'categories'">📂 Categories</div>
				<div class="button" v-on:click="page = 'models'">📋 Data models</div>
			</div>
		</div>

		<!-- COLLECT -->
		<div class="page" v-show="page == 'collect'" v-if="currentCollect != null">
			<!-- Collect page -->
			<div class="subpage" v-show="subpage == 'menu'">
				<div class="back" v-on:click="page = 'menu'">⬅️</div>
				<h1>{{currentCollect.name}} ({{currentCollect.model}})</h1>
				<div class="action button fluid" v-on:click="newData">➕ New data</div>
				<div class="button fluid" v-on:click="subpage = 'review'">👀 Review data</div>
			</div>
			<!-- Collect new data -->
			<div class="subpage" v-for="(column, nb) in currentModel.columns" v-show="subpage == 'newData_' + nb">
				<h1>{{column.name}} ({{column.category}})</h1>
				<div class="quick choices" v-if="lastUsedItems[nb] != null">
					<div v-for="item in lastUsedItems[nb]" class="button category" v-bind:class="{'selected': currentData[nb+2] == item.name}" v-on:click="setItem(nb, item)">{{item.name}}</div>
					<hr/>
				</div>
				<div class="choices">
					<div v-for="item in columnItems" class="button category" v-bind:class="{'selected': currentData[nb+2] == item.name}" v-on:click="setItem(nb, item)">{{item.name}}</div>
				</div>
				<div class="bottom centered">
					<div class="next button" v-show="nb < currentModel.columns.length - 1" v-on:click="subpage = 'newData_' + (nb+1)">➡️</div>
					<div class="previous button" v-show="nb != 0" v-on:click="subpage = 'newData_' + (nb-1)">⬅️</div>
					<div class="action button" v-on:click="saveData">✔️ Finish</div>
				</div>
			</div>
			<!-- Collect review data -->
			<div class="subpage" v-show="subpage == 'review'">
				<div class="back" v-on:click="subpage = 'menu'">⬅️</div>
				<h1>{{currentCollect.name}} ({{currentCollect.model}})</h1>
				<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Time</th>
							<th v-for="column in currentModel.columns">
								{{column.name}} ({{column.category}})
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(data, dataidx) in currentCollect.data">
							<td v-for="(column, colidx) in data" v-on:click="editData(dataidx, colidx)">{{column}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- NEW COLLECT -->
		<div class="page" v-show="page == 'newCollect'">
			<div class="back" v-on:click="page = 'menu'">⬅️</div>
			<h1>New collect</h1>
			<div class="input">
				<label>Collect name:</label>
				<input type="text" placeholder="Collect1"v-model="newCollect.name" />
			</div>
			<div class="input">
				<label>Collect model:</label>
				<select v-model="newCollect.model">
					<option v-for="model in models" v-bind:value="model.name">{{model.name}}</option>
				</select>
			</div>
			<div class="action button fluid" v-show="newCollect.name.trim().length > 0 && newCollect.model != null" v-on:click="startNewCollect">Start new collect</div>
		</div>

		<!-- CATEGORIES -->
		<div class="page" v-show="page == 'categories'">
			<div class="back" v-on:click="page = 'menu'">⬅️</div>
			<h1>Categories</h1>
			<div class="action button fluid" v-on:click="page = 'newCategory'">➕ Add new category</div>
			<hr/>
			<div class="row" v-for="(category, catidx) in categories">
				<div class="floatRight">
					<div class="icon action button" v-show="!category.confirmDelete" v-on:click="editCategory(catidx)">✏️</div>
					<div v-show="!category.confirmDelete" class="icon action button" v-on:click="deleteCategory(category)">❌</div>
					<div v-show="category.confirmDelete">Delete?
						<div class="icon action button" v-on:click="deleteCategoryConfirm(catidx)">Yes</div>
						<div class="icon button" v-on:click="category.confirmDelete = false">No</div>
					</div>
				</div>
				<div class="button" v-on:click="editCategory(catidx)">{{category.name}}</div>
			</div>
		</div>

		<!-- CATEGORY -->
		<div class="page" v-show="page == 'category'" v-if="editingCategory != null">
			<div class="back" v-on:click="page = 'categories'">⬅️</div>
			<h1>Category: {{categories[editingCategory].name}}</h1>
			<div class="input">
				<label>Category name:</label>
				<input type="text" placeholder="Category1" v-model="categories[editingCategory].name" />
			</div>
			<h3>Items ({{categories[editingCategory].items.length}})</h3>
			<div class="row" v-for="(item, itemidx) in categories[editingCategory].items">
				<div v-show="!item.editing">
					<div class="floatRight">
						<div class="icon action button" v-on:click="editItem(item)">✏️</div>
						<div class="icon action button" v-on:click="removeItem(itemidx)">❌</div>
					</div>
					<div class="label">
						{{item.name}}
					</div>
				</div>
				<div class="segment" v-show="item.editing">
					<div class="input">
						<label>Item name:</label>
						<input type="text" v-on:keyup.enter="item.editing = false" placeholder="Item1" v-model="item.name" />
					</div>
					<div class="button fluid" v-on:click="item.editing = false">Save item</div>
				</div>
			</div>
			<div class="button fluid" v-on:click="addItem">➕ Add new item</div>
		</div>

		<!-- NEW CATEGORY -->
		<div class="page" v-show="page == 'newCategory'">
			<div class="back" v-on:click="page = 'categories'">⬅️</div>
			<h1>New category</h1>
			<div class="input">
				<label>Category name:</label>
				<input type="text" placeholder="Category1" v-on:keyup.enter="saveNewCategory" v-model="newCategoryName" />
			</div>
			<div class="action button fluid" v-on:click="saveNewCategory">Save category</div>
		</div>

		<!-- MODELS -->
		<div class="page" v-show="page == 'models'">
			<div class="back" v-on:click="page = 'menu'">⬅️</div>
			<h1>Data models</h1>
			<div class="action button fluid" v-on:click="page = 'newModel'">➕ Add new model</div>
			<div class="row" v-for="(model, modelidx) in models">
				<div class="floatRight">
					<div class="icon action button" v-show="!model.confirmDelete" v-on:click="editModel(modelidx)">✏️</div>
					<div v-show="!model.confirmDelete" class="icon action button" v-on:click="deleteModel(model)">❌</div>
					<div v-show="model.confirmDelete">Delete?
						<div class="icon action button" v-on:click="deleteModelConfirm(modelidx)">Yes</div>
						<div class="icon button" v-on:click="model.confirmDelete = false">No</div>
					</div>
				</div>
				<div class="button" v-on:click="editModel(modelidx)">{{model.name}}</div>
			</div>
		</div>

		<!-- MODEL -->
		<div class="page" v-show="page == 'model'" v-if="editingModel != null">
			<div class="back" v-on:click="page = 'models'">⬅️</div>
			<h1>Model: {{models[editingModel].name}}</h1>
			<div class="input">
				<label>Model name:</label>
				<input type="text" placeholder="Model1" v-model="models[editingModel].name" />
			</div>
			<h3>Columns ({{models[editingModel].columns.length}})</h3>
			<div class="row" v-for="(column, colidx) in models[editingModel].columns">
				<div v-show="!column.editing">
					<div class="floatRight">
						<div class="icon action button" v-on:click="editColumn(column)">✏️</div>
						<div class="icon action button" v-on:click="removeColumn(colidx)">❌</div>
					</div>
					<div class="label">
						{{column.name}} ({{column.category}})
					</div>
				</div>
				<div class="segment" v-show="column.editing">
					<div class="input">
						<label>Column name:</label>
						<input type="text" placeholder="Column1" v-model="column.name" />
					</div>
					<h4>Column category:</h4>
					<div class="categories">
						<div v-for="category in categories" class="button category" v-bind:class="{'selected': column.category == category.name}"v-on:click="column.category = category.name">
							{{category.name}}
						</div>
					</div>
					<div class="button fluid" v-on:click="column.editing = false">Save column</div>
				</div>
			</div>
			<div class="button fluid" v-on:click="addColumn">➕ Add column</div>
		</div>

		<!-- NEW MODEL -->
		<div class="page" v-show="page == 'newModel'">
			<div class="back" v-on:click="page = 'models'">⬅️</div>
			<h1>New Data model</h1>
			<div class="input">
				<label>Model name:</label>
				<input type="text" placeholder="Data1" v-on:keyup.enter="saveNewModel" v-model="newModelName" />
			</div>
			<div class="action button fluid" v-on:click="saveNewModel">Save Data model</div>
		</div>
	</div>
	<script type="text/javascript" src="./js/fieldDataCollector.js"></script>
</body>
</html>